<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Customize</title>
</head>
<body>
<div class="header_container">
    <h1>SMart Tea</h1>
    <p>Welcome to Smart Tea cafe</p>
</div>

<div class="item_container">
    <div class="item_title">
        <h2>Customize your drink</h2>
        <p>Avocado Tea</p>
    </div>
    <div class="item_1">

        <p>Topping (optional)</p>
        <button type="button" name="SMart burger">Fresh</button>
        <button type="button" name="SMart burger">Cheese foam (+$0.55)</button>
    </div>
    <div class="item_2">
        <p>Sugar Level (Chose One)</p>
        <button>No sugar (0%)</button>
        <button>Light sugar (30%)</button>
        <button>Half sugar (50%)</button>
        <button>Less sugar (70%)</button>
        <button>Regular sugar (100%)</button>
    </div>

    <p>Ready to Checkout?</p>
    <button onclick="location.href='/checkout/'">Checkout</button>
</div>
</body>
</html>