<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customize</title>
</head>
<body>
<h1>Customize your drink</h1>
<p>Topping (Choose One)</p>
<button>fresh</button>
<button>foam</button>
<p>Sugar Level (Chose One)</p>
<button>No sugar (0%)</button>
<button>Light sugar (30%)</button>
<button>Half sugar (50%)</button>
<button>Less sugar (70%)</button>
<button>Regular sugar (100%)</button>

<p>Ready to Checkout?</p>
<button onclick="location.href='/checkout/'">Checkout</button>
</body>
</html>